.App {
  max-width: 600px;
  margin: 0 auto;
  transition: all 0.5s ease;
}

.Card {
  flex: 1 1 400px;
  color: rgb(128, 128, 128);
}
.Card:hover,
.Card:focus,
.Card:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.title {
  margin: 0;
  color: #fff;
  font-size: 1.9rem;
  text-shadow: 1px 1px 1px grey;
}
nav {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
article {
  margin: 5px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #d4d7d9;
  box-shadow: 0 1px 0 #c5cad8, 0 2px 3px #d4d8e3;
  display: flex;
  flex-flow: row nowrap;
  /* cursor: pointer; */
}
.thumbnail {
  flex: 0 1 33%;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.content {
  flex: 1 1;
  padding: 0.5rem 1rem;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  font-size: 0.75rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
